<section id='total'>
  <h3>Total People: <%= @members.length %></h3>
</section>
<section class='info'>
  <ul>
    <% @members.first(25).each do |member| %>
      <li id="<%= member[:_id] %>">
        <h4>Name: <%= member[:name] %></h4>
        <% if member[:photoUrl] %>
          <img src="<%= member[:photoUrl] %>" alt="image">
        <% end %>
        <h4>Allies</h4>
        <% if member[:allies].length > 0 %>
          <ul>
          <% member[:allies].each do |ally|%>
            <li><%= ally %></li>
          <% end %>
          </ul>
        <% else %>
          <p>None</p>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
